/* VARIABLES */
:root {
    --dark-1: hsl(240, 23%, 5%);
    --dark-2: hsl(240, 20%, 10%);
    --dark-3: hsl(240, 17%, 15%);

    --light-1: hsl(240, 50%, 98%);
    --light-2: hsl(240, 3%, 54%);

    --pink: #ec4899;
    --furisha: #d948ef;  
    --green: #10b981;
    --blue: #3b82f6;
    --violet: #8b5cf6;
    --orange: #f97316;
    --cyan: #06b6d4;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BASE */
body {
    background: var(--dark-1);
    color: var(--light-1);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;  
}

/* RE-USEABLE STYLE */
.text-2xl {
    font-size: 2rem;
    font-weight: 500;
}
.text-xl {
    font-size: 1.5rem;
    font-weight: 500;
}
.text-lg {
    font-size: 1.2rem;
    font-weight: 500;
}
.text-base {
    font-size: .9rem;
    font-weight: 400;
    color: var(--light-2);
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.span {
    color: var(--furisha);
}

/* MAIN SECTION STYLE START */
.main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/* ===== USER SECTION ===== */
/* USER SECTION STYLE START */
.user-section {
    background: var(--dark-2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* USER CONTENT */
.user-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--dark-3);
    border-radius: 1rem;
    padding: 1rem;
}
.user-avatar {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.user-avatar .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user-info > p {
    color: var(--light-2);
}

/* TRAKING DATE TABS */
.date-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    /* background-color: var(--dark-2); */
}
.date-tabs > p {
    cursor: pointer;
}
p.active-cheklist {
    color: var(--light-1);
}
/* USER SECTION STYLE END */


/* ===== DASHBORD ===== */
/* DASHBORDE STYLE START */
.dashbord {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
/* TRAKING CARD */
.traking-card {
    background-color: var(--dark-2);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.traking-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.traking-card-top .card-number {
    height: 4rem;
    width: 4rem;
    background: var(--dark-3);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--light-2);
    font-weight: 700;
}
.traking-card-top .ellipsis-icon {
    color: var(--light-2);
}

.traking-card:nth-child(1) .traking-card-bottom > h2 {
    color: var(--blue);
}
.traking-card:nth-child(2) .traking-card-bottom > h2 {
    color: var(--violet);
}
.traking-card:nth-child(3) .traking-card-bottom > h2 {
    color: var(--pink);
}
.traking-card:nth-child(4) .traking-card-bottom > h2 {
    color: var(--green);
}
.traking-card:nth-child(5) .traking-card-bottom > h2 {
    color: var(--orange);
}
.traking-card:nth-child(6) .traking-card-bottom > h2 {
    color: var(--cyan);
}
/* DASHBORDE STYLE END */

/* MAIN SECTION STYLE START */

/* ATTRIBUTION STYLE START */
.attribution {
    padding-block-end: 2rem;
}
.attribution .attribution-link {
    color: var(--green);
    text-align: center;
    text-decoration: none;
}
/* ATTRIBUTION STYLE END */

/* ===== RESPONSIVE PART ===== */
/* BREAK-POINTS ARE COLLECTED FROM BOOTSTRAP-5 */
/* PHONE OR SM DEVICES */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* TABLET OR MD DEVICES */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* LEPTOP OR LG DEVICES */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .main {
        grid-template-columns: repeat(12, 1fr);
    }

    .user-section {
        grid-column: span 3;
    }
    .user-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .dashbord {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 9;
    }
    .date-tabs {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* DESKTOP OR XL DEVICES */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* DESKTOP OR XXL DEVICES */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}